<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1231</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2300</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
