<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_315</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_338</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_402</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
